name: DNS Block & Redirect Configurer

on:
  schedule:
    - cron: '30 1 * * *' # 01:30 UTC
  workflow_dispatch:

jobs:
  update-dns:
    runs-on: ubuntu-latest
    environment: DNS

    env:
      DNS: ${{ vars.DNS }}
      REDIRECT: ${{ vars.REDIRECT }}
      BLOCK: ${{ vars.BLOCK }}

      AUTH_SECRET: ${{ secrets.AUTH_SECRET }}
      CLIENT_ID: ${{ secrets.CLIENT_ID }}

      TZ: Europe/Moscow

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '25'
          cache: maven

      - name: Build
        run: mvn -B clean package

      - name: Debug env (one-time check)
        run: |
          echo "DNS=$DNS"
          echo "AUTH_SECRET=${#AUTH_SECRET}"
          echo "CLIENT_ID=${#CLIENT_ID}"
          echo "REDIRECT=${#REDIRECT}"
          echo "BLOCK=${#BLOCK}"

      - name: Run application
        run: java --enable-preview -jar target/*.jar
