name: DNS Block & Redirect Configurer

on:
  schedule:
    - cron: '30 1 * * *' # 01:30 UTC
  workflow_dispatch:

jobs:
  update-dns:
    runs-on: ubuntu-latest
    environment: Configure DNS

    env:
      DNS: ${{ vars.DNS }}
      REDIRECT: ${{ vars.REDIRECT }}

      NEXTDNS_API_KEY: ${{ secrets.NEXTDNS_API_KEY }}
      NEXTDNS_PROFILE_ID: ${{ secrets.NEXTDNS_PROFILE_ID }}

      TZ: Europe/Moscow

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '25'
          cache: maven

      - name: Build
        run: mvn -B clean package

      - name: Debug env (one-time check)
        run: |
          echo "DNS=$DNS"
          echo "API_KEY_LEN=${#NEXTDNS_API_KEY}"
          echo "PROFILE_ID_LEN=${#NEXTDNS_PROFILE_ID}"

      - name: Run application
        run: java --enable-preview -jar target/*.jar
